
.photo > h1 {
  color: rgb(36, 223, 230);
  font-size: 100px;
  /* margin-top: -100px; */
}
p,h1{
  text-align: center;
}
.as{
  margin-left: 25px;
  display: inline-block;
  margin-bottom: 30px;
}
.photo{
  background: url('../images/home.jpg') center center/cover no-repeat;
  min-height: 600px;
  text-align: center;
}
.container{
  border: 2px hidden rgb(74, 74, 80);
  display: inline-block;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  border-radius: 15px;
  background: #93B5C6;
}
#image{
  text-align: center;
  margin-top: 8px;
  margin-left:10px ;
}
.list-group{
  display:inline-block;
  list-style-type: none;
  margin-left: 100px;
  margin-right: 100px;
}
.list-group-email{
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 20px;
}
.list-group-item{
  margin-left: 0;
}
.but,.Ap{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  border-radius: 8px;
 
}
.but{
  color: rgb(222, 228, 226);
  background: cadetblue;
}
.but:hover{
  background: aquamarine;
  color:azure;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}
.tob{
  margin-top: 15px;
  margin-bottom: 10px;
}


@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}